/*----------------------------------------------------*/
/*  PREREQUISITES                                     */
/*----------------------------------------------------*/

/* target all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  background-color: #fff;
  color: #252525;
  font-family: "Lato", "Arial", "san-serif";
  font-size: 20pz;
  font-weight: 300;
  overflow-x: hidden;
}